<div class="btn-group">

  <button type="button" class="btn btn-default dropdown-toggle"
          (click)="toggleSelect()">

    {{multiselectHeader}}

    <span class="caret"></span>

  </button>

  <div class="dropdown-menu" [ngStyle]="{'display': toggleSelectState}">
    <div class="dropdown-header">

      <div *ngIf="filter">
        <input [(ngModel)]="filterModel"  class="form-control input-sm"
               type="text"  autofocus="autofocus" placeholder="Filter" />
      </div>
      
      <div *ngIf="multi">
        <button (click)="checkAll()" class="btn btn-link btn-xs"
                type="button">
          <i class="glyphicon glyphicon-ok"></i> Alle
        </button>
        
        <button (click)="unCheckAll()" class="btn btn-link btn-xs"
                type="button">
          <i class="glyphicon glyphicon-remove"></i> Keine
        </button>
      </div>

    </div>

    <ul>
      <li *ngFor="#item of coll | searchText: filterModel: label">

        <a class="checked" (click)="selectItem(item)">
          <i class="glyphicon" ></i>
          {{item[label]}}
        </a>

      </li>
    </ul>

  </div>
</div>
