<div class="inner">

  <button (click)="isOpenToggle()" type="button"
          class="btn btn-default dropdown-toggle">

    {{hCapture + ' (' + hLength + ')'}}

    <span class="caret"></span>

  </button>

  <div [ngStyle]="{'display': isOpen}" class="dropdown-menu">

    <div class="dropdown-header">

      <div class="filt-con-row">

        <div *ngIf="filter" class="left">

          <input [(ngModel)]="search"
                 class="form-control" type="text"
                 autofocus="autofocus" placeholder="Filter"/>

        </div>
        
        <div *ngIf="multi && controls"
             class="btn-group right">

          <button (click)="checkAll()"
                  class="btn btn-default"
                  type="button">

            <i class="fa fa-check text-success"></i>

          </button>

          <button (click)="unCheckAll()"
                  class="btn btn-default"
                  type="button">

            <i class="fa fa-square-o text-danger"></i>

          </button>

        </div>

        <div class="clearfix"></div>

      </div>

    </div>

    <ul class="items-list">

      <li *ngFor="#item of coll | searchPipe: search: label">

        <a [ngSwitch]="isSelected(item, key)" (click)="itemToggle(item)">

          <i *ngSwitchWhen="true" class="fa fa-check"></i>

          <i *ngSwitchWhen="false" class="fa fa-square-o"></i>

          {{item[label]}}
          
        </a>

      </li>

    </ul>

  </div>

</div>
